<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in Page</title>
</head>
<body>

<center><h1>User Login</h1></center>
<br><br>

<form action = "http://localhost:5000/authentic/user/" method="post">
    Username : <input type="text" name="username"><br><br>
    Password : <input type="password" name="password"><br><br>
    <input type="submit" value="login" name="login"><br><br>

</form>
    <a href="http://localhost:5000/user/registration/">Register Here...</a>
<br><br>



</body>
</html>